.container {
    padding-top: 25px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    background-color: #ac9a83;
}

.dropdown-item:hover{
    background-color: #ead8c8;
}

body{
    background-color: #ead8c8;
 }



